body {
    display: flex;
    flex-direction: column;
}

.header {
    padding-left: 96px;
    padding-right: 96px;
}

.top-row {
    display: flex;
    align-items: center;
}

.head-links {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 16px;
}

.media {
    display: flex;
}

img {
    width: 300px;
}

.card img {
    width: 100px;
}