body {
    display: flex;
    flex-direction: column;
}

.header {
    padding: 0px 96px;
    background: #3b3b3b;
}

.top-row {
    display: flex;
    align-items: center;
}

.head-links {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 16px;
}

.media {
    display: flex;
    align-items: flex-start;
    padding-bottom: 48px;
}

img {
    width: 300px;
}

.card img {
    width: 100px;
}