body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    padding: 0px 96px;
    background: #1F2937;
}

.top-row {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8
}

.head-links {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 16px;
    font-size: 18px;
    color: #E5E7EB
}

.media {
    display: flex;
    align-items: flex-start;
    padding-bottom: 64px;
    gap: 16px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary {
    font-size: 18px;
    color: #E5E7EB
}

img {
    width: 300px;
}

.card img {
    width: 100px;
}